<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <app-contador></app-contador>
<app-alterador></app-alterador>
<h1>Titulo del componente html default</h1>
<app-botones></app-botones>
<app-bucles></app-bucles> 
<app-switch></app-switch> 
<app-formulario2></app-formulario2> 
<app-formulario3></app-formulario3> -->

<div class="container">
    <!-- <h2>Componente Padre</h2>
    <input type="text" class="form-control" [(ngModel)]="title">
    <app-children title="{{title}}"></app-children> 
    <app-children [title]="title" (titleChange)="title=$event"></app-children>
    <app-children [(title)]="title" ></app-children> -->
    <h1>Servicios</h1>
    <app-add-messages></app-add-messages>
    <app-list-messages></app-list-messages>
</div>
